.contents_wrap {padding-top: 75px; overflow-x: hidden;}

.banner {background: url(../image/sub/chuna_banner.png) no-repeat center / cover; height: 715px; width: 100%; position: relative; margin-bottom: 100px;}

.banner_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #fff;}
.banner_txt h2 {font-size: 5rem;}
.banner_txt p {font-size: 1.6rem;}


.nav {display: flex; justify-content: center; padding-top: 50px;}

.nav>ul {display: flex; justify-content:center; align-items: center; font-size: 20px; background: #A17D63; border-radius: 50px; color: #fff;}
.nav>ul li {padding : 10px 30px;}

.nav>ul>li:nth-child(3)::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 30px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li:last-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 30px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li.active::after {transform: rotate(-90deg) translateX(2px);}

.nav .next {width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center;}

.nav>ul>li {position: relative;}
.nav>ul>li .drop_menu {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 90%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu a:hover {background: #574436; border-radius: 30px;}
.nav>ul>li .drop_menu_2 {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 80%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu_2 a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu_2 a:hover {background: #574436; border-radius: 30px;}

@media (max-width :685px) {
    .nav>ul {font-size: 1.5rem;}
    .nav>ul li {padding : 10px}
    .nav>ul>li:nth-child(3)::after {margin-left: 5px; transform: rotate(90deg) translateX(4px); }
    .nav>ul>li:last-child::after {margin-left: 5px; transform: rotate(90deg) translateX(4px);}
    .nav>ul>li .drop_menu {width: 115%;}
    .nav>ul>li .drop_menu_2 {width: 120%;}
    .nav>ul>li .drop_menu {font-size: 1.4rem;}
    .nav>ul>li .drop_menu_2 {font-size: 1.4rem;}
}


/* what */
.what {margin-bottom: 100px;}
.what h3 {text-align: center; font-size: 3.5rem; font-weight: 500; margin-bottom: 20px;}
.what_img {display: flex; justify-content: center; gap: 50px; margin-bottom: 20px;}
.what_txt {text-align: center; font-size: 1.6rem; text-align: center;}
@media (max-width : 970px ) {
    .what_img {width: 100%; display: block; padding: 0 10px;}
    .what_img img {width: 100%;}
    .what_txt {font-size: 1.4rem; padding: 0 10px;}
    .what_txt br {display: none;}
}
/* chara */
.chara {margin-bottom: 100px;}
.chara h3 {text-align: center; font-size: 3.5rem; font-weight: 500; margin-bottom: 20px;}

.chara ul {width:900px; margin: 0 auto;}
.chara ul li {background: #585043; font-size: 1.8rem; color: #fff; text-align: center; padding: 20px 50px; margin: 20px 0;}

@media(max-width : 925px) {
    .chara {padding: 0 10px;}
    .chara ul {width:100%; margin: 0 auto;}
}

/* who */
.who {max-width: 1360px; margin: 0 auto 100px;}
.who h3 {text-align: center; font-size: 3.5rem; font-weight: 500; margin-bottom: 20px;}
.who_list {margin-bottom: 50px;}
.who .swiper-wrapper {transition-timing-function: linear}
.who p {text-align: center; font-size: 1.8rem;}

@media (max-width : 750px) {
    .who p {font-size: 1.4rem; padding: 0 10px;}
    .who p br {display: none;}
}

/* price */
.price {margin-bottom: 100px; width: 100%;}
.price h3 {text-align: center; font-size: 3.5rem; font-weight: 500; margin-bottom: 20px;}
.price .price_img {width: 100%;}
.price p {width: 1000px; margin: 0 auto;}
.price p img {width: 100%;}

@media (max-width:1030px) {
    .price .price_img {overflow-x: scroll; scrollbar-width: none;}
    .price p {width: 800px;}
}
@media (max-width:700px) {
    .price .price_img {overflow-x: scroll;}
    .price p {width: 600px;}

    h3 {font-size: 3rem;}
}





