


.banner {background: url(../image/sub/disc_banner.png) no-repeat center / cover; height: 715px; margin-top: 75px; position: relative;}

.banner .banner_txt { position: absolute; bottom: 100px; left: 100px; font-size: 2rem; color: #251700;}
.banner .banner_txt h2 { font-size: 6rem;}


.nav {display: flex; justify-content: center; padding-top: 50px;}

.nav>ul {display: flex; justify-content:center; align-items: center; font-size: 20px; background: #A17D63; border-radius: 50px; color: #fff;}
.nav>ul li {padding : 10px 30px;}

.nav>ul>li:nth-child(3)::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li:last-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li.active::after {transform: rotate(-90deg) translateX(2px);}

.nav .next {width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center;}

.nav>ul>li {position: relative;}
.nav>ul>li .drop_menu {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu a:hover {background: #574436; border-radius: 30px;}
.nav>ul>li .drop_menu_2 {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu_2 a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu_2 a:hover {background: #574436; border-radius: 30px;}

@media (max-width :900px) {
    .banner {background: url(../image/sub/disc_banner.png) no-repeat right -400px top/ cover; height: 715px; margin-top: 75px; position: relative;}
    .banner .banner_txt { bottom: 5%; left: 5%; font-size: 1.5rem; color: #251700;}
    .banner .banner_txt h2 { font-size: 4rem;}
    .banner .banner_txt br {display: none;}
}

@media (max-width :685px) {
    .nav>ul {font-size: 1.5rem;}
    .nav>ul li {padding : 10px 15px; white-space: nowrap;}
    .nav>ul>li:nth-child(3)::after {margin-left: 5px; transform: rotate(90deg) translateX(4px); }
    .nav>ul>li:last-child::after {margin-left: 5px; transform: rotate(90deg) translateX(4px);}
    .nav>ul>li .drop_menu {width: 120%;}
    .nav>ul>li .drop_menu_2 {width: 120%;}
    .nav>ul>li .drop_menu {font-size: 1.4rem;}
    .nav>ul>li .drop_menu_2 {font-size: 1.4rem;}
}


/* content_1 */
.content_1 {width: 67%; margin: 80px auto 150px;}
.content_1 h3 {font-size: 4rem; text-align: right; margin-bottom: 20px;}

.content_1 ul {display: flex; width: 100%; height: 500px;}
.content_1 ul li {position: relative; width: 190px; filter: brightness(0.4); transition: filter 0.5s;}
.content_1 ul li p {position: absolute; bottom: 0; text-align: center; font-size: 1.6rem; color: #fff; background: rgba(0,0,0,0.4); width: 100%; padding: 20px 0; display: none;}
.content_1 ul li.active {filter: brightness(1);}
.content_1 ul li:first-child {width: 350px;}
.content_1 ul li:first-child p {display: block;}
.content_1 ul li:nth-child(1) {background: url(../image/sub/disc_con1_1.png) no-repeat center / cover;}
.content_1 ul li:nth-child(2) {background: url(../image/sub/disc_con1_2.png) no-repeat center / cover;}
.content_1 ul li:nth-child(3) {background: url(../image/sub/disc_con1_3.png) no-repeat center / cover;}
.content_1 ul li:nth-child(4) {background: url(../image/sub/disc_con1_4.png) no-repeat center / cover;}
.content_1 ul li:nth-child(5) {background: url(../image/sub/disc_con1_5.png) no-repeat center / cover;}
.content_1 ul li:nth-child(6) {background: url(../image/sub/disc_con1_6.png) no-repeat center / cover;}

@media (max-width : 1250px) {
    .content_1 {width: 100%; padding: 0 10px;}
    .content_1 h3 {text-align: center;}
    .content_1 ul {flex-wrap: wrap; gap: 20px; height: auto; justify-content: center;}
    .content_1 ul li {width:calc(50% - 10px); aspect-ratio: 1; filter: brightness(0.4);}
    .content_1 ul li:first-child {width: calc(50% - 10px);}
    .content_1 ul li p {left: 0; top: 0; bottom: auto; height: 100%; display: flex; justify-content: center; align-items: center;}
    .content_1 ul li:first-child p {left: 0; top: 0; bottom: auto; height: 100%; display: flex; justify-content: center; align-items: center;}
    .content_1 ul li p br {display: none;}
}

/* content_2 */
.content_2 h3 {font-size: 4rem; text-align: center; margin-bottom: 50px;}
.content_2 ul {width: 975px; margin: 0 auto;}
.content_2 ul li {width: 230px; height: 350px; position: relative;}
.content_2 ul li p {text-align: center; font-size: 1.5rem; padding: 10px 0; color: #fff; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;}

.content_2 ul li:nth-child(1) {background: url(../image/sub/disc_con2_1.png) no-repeat center / cover;}
.content_2 ul li:nth-child(2) {background: url(../image/sub/disc_con2_2.png) no-repeat center / cover;}
.content_2 ul li:nth-child(3) {background: url(../image/sub/disc_con2_3.png) no-repeat center / cover;}
.content_2 ul li:nth-child(4) {background: url(../image/sub/disc_con2_4.png) no-repeat center / cover;}

@media (max-width :1250px) {
    .content_2 {padding: 0 10px;}
    .content_2 ul {width: 100%;}
    .content_2 ul li {width: calc(50% -10px);}
}

.middle_txt {text-align: center; margin: 300px 0;}
.middle_txt h3 {font-size: 4rem; font-weight: 500;}
.middle_txt p {font-size: 2rem;}
.middle_txt br {display: none;}

@media (max-width : 800px) {
    .middle_txt {text-align: center; margin: 150px 0;}
    .middle_txt br {display: block;}
    .middle_txt h3 {font-size: 2.5rem; font-weight: 500; margin-bottom: 10px;}
    .middle_txt p {font-size: 1.2rem;}
}

/* content_3 */

.content_3 {width: 1060px; margin: 0 auto 100px;}
.content_3 br {display: none;}
.content_3 h3 {font-size: 4rem; text-align: center; margin-bottom: 50px; font-weight: 600;}
.content_3 ul {display: flex; width: 100%; height: 250px; gap: 20px;}
.content_3 ul li {width: 100%; aspect-ratio: 1; position: relative;}
.content_3 ul li .icon {width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.content_3 ul li .con3_txt {position: absolute; bottom: 0; text-align: center; width: 100%; color: #fff; padding: 20px 0; font-size: 2rem;}
.content_3 ul li a {display: inline-block; width: 100%; height: 100%;}
.content_3 ul li:nth-child(1) {background: #664135;}
.content_3 ul li:nth-child(2) {background: #78592D;}
.content_3 ul li:nth-child(3) {background: #784D2D;}
.content_3 ul li:nth-child(4) {background: #61312D;}

.content_3 ul li:nth-child(1) .icon {background: url(../image/sub/disc_con3_1.png) no-repeat center / contain; background-size: 85%;}
.content_3 ul li:nth-child(2) .icon {background: url(../image/sub/disc_con3_2.png) no-repeat center / contain;}
.content_3 ul li:nth-child(3) .icon {background: url(../image/sub/disc_con3_3.png) no-repeat center / contain;}
.content_3 ul li:nth-child(4) .icon {background: url(../image/sub/disc_con3_4.png) no-repeat center / contain;}

@media (max-width : 1100px) {
    .content_3 {width: 100%; padding: 0 10px;}
    .content_3 br {display: block;}
    .content_3 h3 {font-size: 3rem;}
    .content_3 ul {flex-wrap: wrap; justify-content: center; height: auto;}
    .content_3 ul li {width: calc(50% - 10px);}
    .content_3 ul li .icon {width: 100px; height: 100px;}
}

@media (max-width : 730px) {
    .content_3 ul li .icon {width: 60px; height: 60px;}
}









