.nav {display: flex; justify-content: center; padding-top: 50px; margin-top: 75px;}

.nav>ul {display: flex; justify-content:center; align-items: center; font-size: 20px; background: #A17D63; border-radius: 50px; color: #fff;}
.nav>ul li {padding : 10px 30px;}

.nav>ul>li:nth-child(3)::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li:last-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li.active::after {transform: rotate(-90deg) translateX(2px);}

.nav .next {width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center;}

.nav>ul>li {position: relative;}
.nav>ul>li .drop_menu {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu a:hover {background: #574436; border-radius: 30px;}
.nav>ul>li .drop_menu_2 {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu_2 a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu_2 a:hover {background: #574436; border-radius: 30px;}


@media (max-width :685px) {
    .nav>ul {font-size: 1.5rem;}
    .nav>ul li {padding : 10px;}
    .nav>ul>li:nth-child(3)::after {margin-left: 5px; transform: rotate(90deg) translateX(4px); }
    .nav>ul>li:last-child::after {margin-left: 5px; transform: rotate(90deg) translateX(4px);}
    .nav>ul>li .drop_menu {width: 120%;}
    .nav>ul>li .drop_menu_2 {width: 120%;}
    .nav>ul>li .drop_menu {font-size: 1.4rem;}
    .nav>ul>li .drop_menu_2 {font-size: 1.4rem;}
}
/* reserv */

.reserv {width: 1640px; border-radius: 20px; margin: 100px auto 200px; background: url(../image/sub/help_bg.png) no-repeat center / cover; padding: 30px 0;} 

.reserv h2 {font-size: 6rem; color: #fff; text-align: center; margin-bottom: 30px;}

.reserv .notice { width: 1400px; margin: 0 auto 15px; background: #fff; border-radius: 30px; text-align: center; padding: 30px 0; }
.reserv .notice dt {font-size: 2rem; margin-bottom: 15px; color: #251700;}
.reserv .notice dd {font-size: 1.3rem; color: #8D8C8C;}
 @media (max-width : 1660px) {
    .reserv {width: 100%; padding: 30px 10px;}
    .reserv .notice {width: 90%;}
 }
 @media (max-width : 1060px) {
    .reserv h2 {font-size: 4rem; margin-top: 10px;}
    .reserv .notice dl {padding: 0 10px;}
    .reserv .notice dt {font-size: 2rem; margin-bottom: 15px; color: #251700;}
    .reserv .notice dt br {display: none;}
    .reserv .notice dd {font-size: 1.3rem; color: #8D8C8C;}
 }

  @media (max-width : 730px) {
    .reserv {margin: 50px auto 100px;}
    .reserv .notice dt {font-size: 1.4rem; margin-bottom: 15px; color: #251700;}
    .reserv .notice dd {font-size: 1.3rem; color: #8D8C8C;}
 }
/* info */
.reserv .info {width: 1400px; margin: 0 auto; background: #fff; border-radius: 30px; padding: 35px 60px; }
.reserv .info ul {display: flex; flex-wrap: wrap; gap: 50px 100px; width: 100%;}
.reserv .info ul li {width: calc((100% - 200px) / 3);  background: #F5F2EE; height: 60px; border-radius: 10px; display: flex; justify-content: space-between; align-items: center; padding: 0 10px;}
.reserv .info ul li:nth-child(1) fieldset ,.reserv .info ul li:nth-child(2) fieldset {width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 10px; }
.reserv .info ul li  input[type="text"] {background: transparent; border: transparent; outline: none; height: 50px; font-size: 2rem; padding: 5px; width: 250px;}
.reserv .info ul li p {font-size: 1.3rem; width: 60px; text-align: center; position: relative; color: #251700;}
.reserv .info ul li p::after {content: ""; display: inline-block; position: absolute; left: 110% ; top: 50%; transform: translateY(-50%); width: 1px; height: 30px; background: #8F8F8F; margin-left: 5px;}

.reserv .info ul .select p{ width: 65px; }

.reserv .info ul li:nth-child(4) fieldset { margin-right: auto; margin-left: 40px; display: flex; align-items: center; gap: 10px;}

.reserv .info ul li select {width: 250px; height: 50px; margin-left: 20px; margin-right: auto; background: transparent; outline: none; border: none; color: #251700;}
option {color: #251700;}

input[type="checkbox"] {display: none;}
.circle {width: 14px; height: 14px; border: 1px solid #000; border-radius: 10px; position: relative;  flex-shrink: 0;  }
input[type="checkbox"]:checked + .circle::after {content: "";width: 8px; height:8px; background: #000; position: absolute; inset: 0;   /* top, right, bottom, left 모두 0 */
    margin: auto;  border-radius: 50%;  flex-shrink: 0; }

@media(max-width : 1660px){
    .reserv .info {width: 90%;}
}

 @media (max-width : 1550px) {
    .reserv .info ul li {width: calc((100% - 200px) / 2); }
 }
 @media (max-width : 1165px) {
    .reserv .info ul li {width: 100%; }
 }
/* agree */

label {font-size: 13px; display: flex; gap: 10px; align-items: center;}
.agree {width: 1400px; margin: 30px auto 50px; font-size: 1.3rem; color: #fff;}
.box_wrap {display: flex; gap: 100px; align-items: center;}
.box_wrap .circle {border-color: #fff;}
.box_wrap input[type="checkbox"]:checked + .circle::after {background: #fff;}

.button {background: #784D2E; border-radius: 5px; width: 360px; margin:0 auto; font-size: 1.5rem; text-align: center; padding: 20px 0; color: #fff; cursor: pointer;}

@media (max-width : 1660PX) {
    .agree {width: 90%;}
}
 @media (max-width : 1550px) {
   .button {margin-bottom: 20px; }
   .box_wrap {gap: 20px;}
 }


