@charset "utf-8";

.contents_wrap {padding-top: 75px;}

.nav {display: flex; justify-content: center; padding-top: 50px; z-index: 99;}

.nav>ul {display: flex; justify-content: space-between; align-items: center; font-size: 20px; background: #A17D63; border-radius: 50px; color: #fff;}
.nav>ul li {padding : 10px 30px;}
.nav>ul>li:first-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin: 0 50px; transform: translateY(2px);}
.nav>ul>li:last-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 30px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li.active::after {transform: rotate(-90deg) translateX(2px);}

.nav>ul>li {position: relative;}
.nav>ul>li .drop_menu {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu a:hover {background: #574436; border-radius: 30px;}

@media (max-width : 512px) {
    .nav>ul {font-size: 1.5rem;}
    
    .nav>ul>li:first-child::after {margin: 0 20px;  transform: translateY(4px);}
    .nav>ul>li:last-child::after {transform: rotate(90deg) translateX(4px);margin-left: 20px;}
    .nav>ul>li.active::after {transform: rotate(-90deg) translateX(4px);}
}

.map {text-align: center;}
.map h2 {font-size: 4rem; margin: 50px 0 30px;}
.map_img{height: 525px; position: relative; margin-bottom: 50px;}
.map_img p {position: absolute; top: 10px; left: 50%; transform: translateX(-50%); font-size: 2rem; color: #fff; background: #A17D63; padding: 10px 100px; border-radius: 50px; z-index: 3;}
.map_img img {width: 100%; height: 100%; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}

@media (max-width :710px) {
    .map_img {overflow: hidden;}
    .map_img p {padding: 10px 20px;}
    .map_img img {width: auto; height: 100%;}
    .map h2 {font-size: 3rem; margin: 50px 0 30px;}
}

.map_tab {margin-bottom: 40px;}
.map_tab ul {display: flex; justify-content: center;}
.map_tab ul li {font-size: 2rem; padding: 10px 30px; background: #fff; border-right: 1px solid #574436; cursor: pointer;}
.map_tab ul li:last-child {border: none;}
.map_tab ul li.active {background: #784D2E; color: #fff;}

@media (max-width:512px) {
    .map_tab ul li {font-size: 1.5rem;}
}

.ad {display: flex; justify-content: center; font-size: 2rem; margin-bottom: 55px;}
.ad p {padding: 10px 80px 10px 0; background: #fff; border-radius: 30px;}
.ad p span{background: #784D2E; padding: 10px 80px; margin-right: 80px; border-radius: 30px; color: #fff;}

.ad br {display: none;}
@media (max-width : 890px) {
.ad p {display: grid; grid-template-columns: 1fr; text-align: center; justify-content: center; padding: 20px 10px; }
.ad p span{margin-right: 0px; padding: 10px 20px; margin-bottom: 10px; display: inline-block;}
.ad br {display: block;}
}

.how {width: 100%;; margin-bottom: 50px; padding: 0 10px;}
.how ul {display: flex; justify-content: center; gap: 80px; text-align: center; font-size: 1.6rem; width: 100%; }
.how ul li {background: #fff; width: 300px; border-radius: 20px; filter: drop-shadow(0px 4px 4px  rgba(0,0,0,0.25));  padding-bottom: 10px; }
.how ul li p {padding-top: 20px;}
.how ul li:first-child p {padding-top: 20px;}
.how ul li p:first-child {font-size: 2rem;}

@media (max-width : 890px) {
.how ul {display: block;}
.how ul li {margin: 0 auto 20px;}
}










