body {background: #FAF8F5 ; overflow-x:hidden; width: 100%;}


/* banner */

.banner { width: 100%; height:920px; background: url(../image/main/banner.png) no-repeat center / cover; position: relative;}

.banner .banner_txt {font-size: 3rem; position: absolute; left: 100px; top: 650px; color: #fff; line-height: 80px;}
.banner .banner_txt strong {font-size: 10rem; font-weight: 600; }
.banner .banner_txt span {font-size: 6rem;}
.banner_filter {width: 100%; height: 100%; background: rgba(0,0,0,0.3); }

@media (max-width : 1150px) {
    .banner {width: 100%; height:700px;}
    .banner .banner_txt {font-size: 2rem; position: absolute; left: 10%; top: auto; bottom: 5%; color: #fff; line-height: 80px;}
    .banner .banner_txt strong {font-size: 7rem; font-weight: 600; }
    .banner .banner_txt span {font-size: 3rem;}
}


/* merit */

.merit {padding: 200px 0;}
.merit .inner {max-width: 1660px; margin: 0 auto;}
.merit h2 {color: #251700; font-size: 40px; font-weight: 500; margin-bottom: 30px;}
.merit_list{display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;}
.merit_list li{width: calc((100% - 60px)  / 4 ); aspect-ratio: 1 / 1; position: relative; border-radius: 50px; }
.merit_list li:nth-child(1) {background: url(../image/main/merit1.png) no-repeat center / cover;}
.merit_list li:nth-child(2) {background: url(../image/main/merit2.png) no-repeat center / cover;}
.merit_list li:nth-child(3) {background: url(../image/main/merit3.png) no-repeat center / cover;}
.merit_list li:nth-child(4) {background: url(../image/main/merit4.png) no-repeat center / cover;}

.merit_list li img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%;}
.merit_list li .list_txt {position: absolute; bottom: 25px; left: 50%; transform: translateX(-50%); text-align: center; font-size: 2rem; color: #fff; width: 100%;}

@media (max-width : 1150px) {
    .merit {padding: 100px 0;}
    .merit h2 {text-align: center;}
    .merit_list li {width: calc((100% - 100px)  / 2 )}
}

@media (max-width :700px) {
    .merit_list li img {position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); width: 50%;}
    .merit_list li .list_txt {font-size: 1.5rem;}
}

/* wo */
.wo {display: grid; grid-template-columns: 1fr 3fr; background: #fff; width: 100%; height: 525px; align-items: center; margin-bottom: 130px; position: relative;}

.wo_left { margin-left: 55px;}
.wo_left h2 { font-size: 4rem; font-weight: 500; margin-bottom: 3rem;}
.wo_left p { font-size: 2rem;  margin-bottom: 1.8rem;}
.wo_left .btn_more a { font-size: 1.8rem; color: #fff; padding: 5px 15px; background: #000; border-radius: 50px;}


.wo_right {width: 100%; padding: 20px 0; overflow: hidden;}
.wo_right li {width: 380px; height: 480px; margin-right: 20px;}
.wo_right li:nth-child(5) {margin-right: 0;}


.wo_right li a {display: inline-block; width: 100%; height: 100%; position: relative; }
.wo_right li .list_img {width: 100%; height: 100%; transition: all 0.5s;}
.wo_right li[data-index="1"] a .list_img {background: url(../image/main/wo_1.png) no-repeat center / cover; }
.wo_right li[data-index="2"] a .list_img {background: url(../image/main/wo_2.png) no-repeat center / cover; }
.wo_right li[data-index="3"] a .list_img {background: url(../image/main/wo_3.png) no-repeat center / cover; }
.wo_right li[data-index="4"] a .list_img {background: url(../image/main/wo_4.png) no-repeat center / cover; }
.wo_right li[data-index="5"] a .list_img {background: url(../image/main/wo_5.png) no-repeat center / cover; }

.wo_right li .list_img.active {filter: brightness(0.5);}

.wo_right li .list_txt {display: none; position: absolute; left: 10px; bottom: 10px;}
.wo_right li .list_txt p:first-child {font-size: 3rem; font-weight: 500; color: #fff; margin-bottom: 25px;}
.wo_right li .list_txt p:last-child {font-size: 1.8rem; color: #fff;}

@media (max-width : 1400px) {
    .wo {display: block; }
    .wo_left {text-align: center;}
    .wo_left .btn_more {display: none;}
    .wo_left { margin-left: 0;}
    .wo_left h2 { font-size: 3rem; font-weight: 500; margin-bottom: 20px;}
    .wo_left p { font-size: 1.8rem;  margin-bottom: 10px;}
    .wo_right li {margin: 0;}
}

/* mission */
.mission {width: 100%;}
.mission h2 {font-size: 4rem; font-weight: 500; text-align: center;}
.mission .sub_title {font-size: 2rem; text-align: center; margin-bottom: 20px;}

.mission_img {width: 100%; height: 100%;}
.mission_img li {width: calc(100% / 3); height: 550px; position: relative;}
.mission_img li[data-index = "1"] {background: url(../image/main/mission_1.png) no-repeat center  / cover;}
.mission_img li[data-index = "2"] {background: url(../image/main/mission_2.png) no-repeat center  / cover;}
.mission_img li[data-index = "3"] {background: url(../image/main/mission_3.png) no-repeat center  / cover;}

.mission .img_txt {position: absolute; width: 100%; left: 50%; bottom: 50px; text-align: center; transform: translateX(-50%); }
.mission .img_txt p {width: 100%;}
.mission .img_txt p:first-child {font-size: 4rem; font-weight: 500; color: #fff; margin-bottom: 35px;}
.mission .img_txt p:last-child {font-size: 3rem; font-weight: 500; color: #fff;}

@media (max-width : 1150px) {
    .mission h2 {font-size: 3rem;}
    .mission .sub_title {font-size: 1.8rem; padding: 0 10px;}
}

/* vision */
.vision {background: #A17D63; padding: 50px 0; height: 530px;}
.vision .inner {width: 890px; margin: 0 auto; text-align: center;}
.vision .inner>p {color: #fff; font-size: 2rem; margin-bottom: 50px;}
.vision .inner>p span {color: #fff; font-size: 3rem;}

.vision ul li:first-child {border-top: 1px solid #fff;}
.vision ul li { border-bottom: 1px solid #fff; padding: 10px 0; cursor: pointer;}

.vision ul li .vision_list {display: flex; justify-content: space-between; align-items: center; transition: all 0.5s;}
.vision ul li .vision_list p {font-size: 2rem; color: #fff;}
.vision ul li .vision_list p:first-child {font-size: 2.5rem;}
.vision ul li .vision_list p:last-child:after {content: ""; display: inline-block; width: 17px; height: 17px; background: url(../image/main/plus.png) no-repeat center; margin-left: 20px; transition: all 0.5s ;}

.vision ul li .vision_list.active p:last-child:after {transform: rotate(45deg);}

.vision ul li .vision_list.active {margin-bottom: 25px;}
.vision ul li .vision_content {display: none; text-align: center; color: #fff; font-size: 2rem; margin-bottom: 20px;}

.vision ul li:first-child .vision_content {display: block;}

@media (max-width : 900px) {
    .vision {background: #A17D63; padding: 50px 0 100px; height: 600px;}
    .vision .inner>p {color: #fff; font-size: 1.4rem; margin-bottom: 20px;}
.vision .inner>p span {color: #fff; font-size: 2.5rem;}
    .vision .inner {width: 100%; padding: 0 10px;}
    .vision ul li .vision_list p {font-size: 1.7rem;}
    .vision ul li .vision_content {font-size: 1.5rem;}
}

/* news */
.news {margin: 130px 0 200px;}
.news .inner {max-width: 1660px; margin: 0 auto; text-align: center;}
.news h2 { font-size: 4rem; color: #251700; font-weight: 500; margin-bottom: 40px;}
.news_list_tab {display: flex; justify-content: center; margin-bottom: 40px;}
.news_list_tab li {padding:10px 20px ; font-size: 1.8rem; background: #fff; border-right: 1px solid #574436; font-weight: 500; cursor: pointer;}
.news_list_tab li.active {background: #A17D63; color: #fff;}
.news_list_tab li:last-child {border-right: none;}
.news_list {display: flex; gap: 20px;}
.news_list li {width: 100%; height: 100%;}
.news_list li img {width: 100%;}
.news_list li a:first-child {position: relative; display: inline-block; width: 100%; height: 100%;}

.news_list li a:first-child div {display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); color: #fff; font-size: 2rem; background: rgba(0,0,0,0.5); width: 100%; height: 100%;}
.news_list li a:first-child div p {position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);}
.news_title {display: flex; justify-content: space-between; font-size: 1.6rem; margin-top: 10px;}

@media (max-width : 1150px) {
    .news {margin: 100px 0 100px;}
    .news h2 { font-size: 3rem;}
    .news .inner {max-width: 100%; overflow-x: hidden; padding: 0 10px;}
    .news_list {gap: 0;}
    .news_title {display: block; text-align: right;}
    .news_title p:first-child {text-align: left;}
}

/* place */
.other_place {width: 1460px; margin: 0 auto 70px;}
.other_place h2 {text-align: center; width: 225px; height: 41px; margin: 0 auto; margin-bottom: 70px;}
.other_place h2 img{width: 100%;}

.other_place ul li {width: 290px; height: 160px; position: relative;}
.other_place ul li[data-index = "1"] {background: url(../image/main/place_1.png) no-repeat center / cover;}
.other_place ul li[data-index = "2"] {background: url(../image/main/place_2.png)no-repeat center / cover;}
.other_place ul li[data-index = "3"] {background: url(../image/main/place_3.png)no-repeat center / cover;}
.other_place ul li[data-index = "4"] {background: url(../image/main/place_4.png)no-repeat center / cover;}

.other_place ul .place_txt {width: 100%; position: absolute; padding: 10px; bottom: 0px; left: 0px; font-size: 1.6rem; color: #fff; display: flex; justify-content: space-between; background: rgba(0,0,0,0.5); align-items: center;}

.other_place ul .place_txt p:last-child:before {content: ""; background: url(../image/main/call.png) no-repeat center; width: 20px; height: 20px; display: inline-block; margin-right: 5px; transform: translateY(3px);}

@media (max-width : 1400px) {
    .other_place h2 {margin-bottom: 30px;}
    .other_place {width: 100%; padding: 0 10px; overflow-x: hidden;} 
    .other_place ul .place_txt {display: block; text-align: center;}
}
