/* banner */
.banner {background: url(../image/sub/medical_banner.png) no-repeat center / cover; height: 715px; margin-top: 75px; position: relative; margin-bottom: 100px;}

.banner .banner_txt { position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); font-size: 2rem; color: #251700; text-align: center; color: #fff;}
.banner .banner_txt h2 { font-size: 6rem; text-align: center;}


.nav {display: flex; justify-content: center; padding-top: 50px;}

.nav>ul {display: flex; justify-content:center; align-items: center; font-size: 20px; background: #A17D63; border-radius: 50px; color: #fff;}
.nav>ul li {padding : 10px 30px;}

.nav>ul>li:nth-child(3)::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li:last-child::after {content: ""; display: inline-block; width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center ; margin-left: 20px;  transform: rotate(90deg) translateX(2px); transition: all 0.5;}
.nav>ul>li.active::after {transform: rotate(-90deg) translateX(2px);}

.nav .next {width: 20px; height: 20px; background: url(../image/common/right.png) no-repeat center;}

.nav>ul>li {position: relative;}
.nav>ul>li .drop_menu {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu a:hover {background: #574436; border-radius: 30px;}
.nav>ul>li .drop_menu_2 {display: none; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; text-align: center; background: #A17D63; width: 100%; border-radius: 30px; padding: 10px 0; filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3)); z-index: 8;}
.nav>ul>li .drop_menu_2 a {display: inline-block; padding: 5px 10px; transition: all 0.5s;}
.nav>ul>li .drop_menu_2 a:hover {background: #574436; border-radius: 30px;}

@media (max-width :900px) {
    .banner {background: url(../image/sub/medical_banner.png) no-repeat center left -550px; margin-bottom: 50px;}
    .banner .banner_txt {width: 100%; font-size: 1.5rem; color: #fff; text-align: center;}
    .banner .banner_txt h2 { font-size: 4rem;}
    .banner .banner_txt br {display: none;}
}


@media (max-width :685px) {
    .nav>ul {font-size: 1.5rem;}
    .nav>ul li {padding : 10px;}
    .nav>ul>li:nth-child(3)::after {margin-left: 5px; transform: rotate(90deg) translateX(4px); }
    .nav>ul>li:last-child::after {margin-left: 5px; transform: rotate(90deg) translateX(4px);}
    .nav>ul>li .drop_menu {width: 120%;}
    .nav>ul>li .drop_menu_2 {width: 100%;}
    .nav>ul>li .drop_menu {font-size: 1.4rem;}
    .nav>ul>li .drop_menu_2 {font-size: 1.4rem;}
}

/* content_1 */

.content_1 {text-align: center; width: 1200px; margin: 200px auto ; }
.content_1 h3 {font-size: 40px; font-weight: 500;}

.content_1 ul {display: flex; gap: 20px; margin: 30px 0 10px;}
.content_1 ul li {width: calc(100% / 5); aspect-ratio: 1; position: relative;}
.content_1 ul li:nth-child(1) {background: url(../image/sub/medical_con1_1.png) no-repeat center / cover;}
.content_1 ul li:nth-child(2) {background: url(../image/sub/medical_con1_2.png) no-repeat center / cover;}
.content_1 ul li:nth-child(3) {background: url(../image/sub/medical_con1_3.png) no-repeat center / cover;}
.content_1 ul li:nth-child(4) {background: url(../image/sub/medical_con1_4.png) no-repeat center / cover;}
.content_1 ul li:nth-child(5) {background: url(../image/sub/medical_con1_5.png) no-repeat center / cover;}
.content_1 ul li p {font-size: 1.5rem; color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;}
.content_1>p {text-align: right; }

@media (max-width : 1220px) {
    .content_1 {width: 100%; padding: 0 10px;}
    .content_1 ul {flex-wrap: wrap;}
     .content_1 ul li{width: calc(50% - 10px);}
     .content_1>p {text-align: center; font-size: 1.4rem; margin-top: 20px;}
      .content_1>p br {display: none;}
}

/* content_2 */
.content_2 {text-align: center; width: fit-content; margin: 200px auto; padding: 0 10px;}
.content_2 h3 {font-size: 40px; font-weight: 500; margin-bottom: 100px;}
.content_2 ul li {display: flex; gap: 200px; align-items: center; margin-bottom: 50px; justify-content: left;}
.content_2 ul li dl {text-align: left;}
.content_2 ul li dt {font-size: 3.5rem; margin-bottom: 30px; font-weight: 600;}
.content_2 ul li dd {font-size: 1.5rem; }

@media (max-width : 1050px){
    .content_2 {width: 100%; padding: 0 50px;}
    .content_2 ul li img {width: 100%; margin-bottom: 20px;}
    .content_2 ul li {display: block; text-align: left; justify-content: center;}
    .content_2 ul li br {display: none;}
}

/* content_3 */
.content_3 {text-align: center; width: 1200px; margin: 200px auto; }
.content_3 h3 {font-size: 40px; font-weight: 500;}
.content_3>p {margin-bottom: 70px; font-size: 1.8rem;}
.content_3 ul  {display: flex; flex-wrap: wrap; gap: 45px; justify-content: center;}
.content_3 ul li {display: flex; align-items: center; gap: 45px; width: calc( (100% / 2) - 45px); height: 200px; background: #fff; border-radius: 30px; overflow: hidden;}
.content_3 ul li p {text-align: left; font-size: 1.7rem;}
.content_3 ul li p span {font-size: 3rem; font-weight: 500;}
@media (max-width : 1210px){ 
    .content_3 {width: 100%; padding: 0 10px;}
    .content_3 ul li {width: 100%; gap: 10px;}
    .content_3 ul li p {text-align: left; font-size: 1.4rem;}
    .content_3 ul li p span  {font-size: 2rem;}
}

/* content_4 */

.content_4 { width: 1050px; margin: 200px auto;}
.content_4 h3 {text-align: center; font-size: 4rem; font-weight: 500; margin-bottom: 70px;}
.content_4 ul  {display: flex; flex-wrap: wrap; gap: 30px; align-items: center; justify-content: center;}
.content_4 ul li {width: calc((100% / 2) - 30px); text-align: center; height: 60px; background: #585043; font-size: 2rem; color: #fff; padding-top: 15px;}

@media (max-width : 1050px) {
    .content_4 {width: 100%; padding: 0 10px;}
}
@media (max-width : 850px) {
    .content_4 {width: 100%; padding: 0 10px;}
    .content_4 ul li {width: 100%}
}

/* content_5 */
.content_5 {width: 1060px; margin: 200px auto 100px;}
.content_5 h3 {font-size: 4rem; text-align: center; margin-bottom: 50px; font-weight: 600;}
.content_5 ul {display: flex; width: 100%; height: 250px; gap: 20px;}
.content_5 ul li {width: 100%;aspect-ratio: 1;   position: relative;}
.content_5 ul li .icon {width: 100px; height: 100px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.content_5 ul li .con3_txt {position: absolute; bottom: 0; text-align: center; width: 100%; color: #fff; padding: 20px 0; font-size: 2rem;}
.content_5 ul li a {display: inline-block; width: 100%; height: 100%;}
.content_5 ul li:nth-child(1) {background: #664135;}
.content_5 ul li:nth-child(2) {background: #78592D;}
.content_5 ul li:nth-child(3) {background: #784D2D;}
.content_5 ul li:nth-child(4) {background: #61312D;}

.content_5 ul li:nth-child(1) .icon {background: url(../image/sub/disc_con3_1.png) no-repeat center / contain; background-size: 85%;}
.content_5 ul li:nth-child(2) .icon {background: url(../image/sub/disc_con3_2.png) no-repeat center/ contain;}
.content_5 ul li:nth-child(3) .icon {background: url(../image/sub/disc_con3_3.png) no-repeat center/ contain;}
.content_5 ul li:nth-child(4) .icon {background: url(../image/sub/disc_con3_4.png) no-repeat center/ contain;}

@media (max-width : 1100px) {
    .content_5 {width: 100%; padding: 0 10px;}
    .content_5 br {display: block;}
    .content_5 h3 {font-size: 3rem;}
    .content_5 ul {flex-wrap: wrap; justify-content: center; height: auto;}
    .content_5 ul li {width: calc(50% - 10px);}
    .content_5 ul li .icon {width: 100px; height: 100px;}
}

@media (max-width : 730px) {
    .content_5 ul li .icon {width: 60px; height: 60px;}
}

